* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #605B70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 95%;
    margin: 2rem 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2C2638;
    border-radius: 10px;
    /* border: 2px solid white; */
}

.left {
    /* background-color: #24097c; */
    width: 50%;
    height: 90vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.rigth label {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
}


.right {
    width: 50%;
    height: 90vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* padding: 30px; */
    /* border: 2px so   lid white; */
    overflow: hidden;
}

.right h1 {
    text-align: start;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.right p{
    color: #77737F;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.right .mb-1 {
    width: 100%;
    display: flex;
    border: none;
    border-radius: 5px;;
}

.mb-1 input {
    width: 100%;
    margin: 0 0.3rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3C364C;
    color: #77737F;
    font-size:0.9rem;
    margin-bottom: 0.5rem;
}

.mb-1 input::placeholder {
    color: #77737F;
}

.mb-3 input{
    width: 98%;
    margin: 0 0.3rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3C364C;
    color: #77737F;
    font-size:0.9rem;
    margin-bottom: 0.5rem;

}
.mb-3 input::placeholder {
    color: #77737F;
}

.btn1{
    width: 100%;
    padding: 10px 20px;
    background-color: #6D54B5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    font-weight: bold;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btns img{
    width: 25px;
    height: 20px;
}


#btn2{
    width: 45%;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    font-weight: bold;
    border:1px solid #77737F;
}

#btn3{
    border: 2px solid black;
    width: 45%;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    font-weight: bold;
    border:1px solid #77737F;
}

.right button:hover {
    background-color: #8c65ed;
}

.right button:focus {
    outline: none;
}

#checkbox {
    cursor: pointer;
}
span {
    color: #77737F;
    cursor: pointer;
    font-size: 0.8rem;
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .line-with-text::before,
  .line-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #77737F;
  }

  .line-with-text::before {
    margin-right: 10px;
  }

  .line-with-text::after {
    margin-left: 10px;
  }

  .line-with-text span {
    padding: 0 10px;
    font-weight: bold;
  }


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;   
        width: 100%;
        margin: 20px;
    }

    .left {
        display: none;
    }
    
    .right {
        order: 1;
        width:100%;
        height: 40vh;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

    }


    .right h1 {
        text-align: center;
    }
    
}